{% extends "base.html" %}

{% block title %}Welcome{% endblock %}

{% block content %}
<h1>Welcome to the Media Outlet Guesser</h1>
<p>Please register an account and/or login to begin play</p>

<div class="logo-row">
    <img src="{{ url_for('static', filename='miscellaneous/itn.png') }}" alt="Improve the News Logo">
    <img src="{{ url_for('static', filename='miscellaneous/verity.png') }}" alt="Verity Logo">
</div>

<div class="button-group">
    <a href="{{ url_for('auth.login') }}">Login</a>
    <a href="{{ url_for('auth.register') }}">Register</a>
</div>
{% endblock %}